$ida-black: #033333;
$ida-green: #03d8c1;
$ida-light-green: #f0f5f5;
$ida-gray: #8c8c8c;
$ida-gray-body: #333;
$ida-gray-light: #555555;
$ida-black-opaque: rgba(0,0,0, 0.65);
$ida-white: #fff;
$ida-dark-green: #007f71;
