.nav {
	margin-top: rem-calc(30);
	margin-bottom: rem-calc(60);
	font-size: rem-calc(22);
	font-wight: 900;

	a {
		margin-top: rem-calc(70);
		margin-right: rem-calc(80);
		text-transform: uppercase;
		color: $ida-black;
		font-family: 'Montserrat', sans-serif;

		&.active {
			color: $ida-green;
		}

		&:last-child {
			margin-right:0;
		}
	}
}

.header-title {
	color: $ida-green;
	font-size: rem-calc(38);
	text-align: center;

	.subheader {
		color: $ida-green;
		font-size: rem-calc(18);
	}
}