.work-wrapper {

	background-color: $ida-light-green;
	padding-bottom: rem-calc(80);
	
}

.work-item {
	margin-top: rem-calc(40);
	height: rem-calc(200);
	background-size: cover;
	
	.work-item-hover {
		display: none;
		color: $ida-white;
		height: 100%;
	}

	.work-item-title {
		padding-top: 1rem;
		font-size: rem-calc(20);
		padding-left: 20px;
		font-family: 'Muli' sans-serif;
	}

	&:hover .work-item-hover {
		cursor: pointer;
		display: block;
		background: $ida-black-opaque;
		font-family: 'Muli' sans-serif;
	}

	&:hover .work-item-title {
		color: $ida-white;
		font-family: 'Muli' sans-serif;
	}
}

.work-page {

	font-family: 'Lato', sans-serif;

	.work-main-container {
		margin-bottom: 60px;
	}
	
	.work-items-container {
		margin-bottom: 60px;
	}

	.work-title {
		line-height: 1;
		font-size: rem-calc(20);
		border-bottom: 1px solid $ida-black-opaque;
		padding-bottom: 5px;
		display: inline-block;
		margin-top: 0;
	}
}

.about-page {
	font-family: 'Lato', sans-serif;
}

.about-title, .about-section-title {
	font-size: rem-calc(24);
}

.about-header-wrapper {
	border-bottom: 4px solid $ida-light-green;
	margin-bottom: 10px;
}

.about-header-wrapper .text-justify {
	font-family: 'Lato', sans-serif;
	font-size: rem-calc(100);
}

p {
	font-size: rem-calc(20);
}