{% capture content %}
<div class="about-page">
	<div class="about-wrapper">
		<div class="row">
			<div class="small-12 medium-8 medium-push-2 about-header-wrapper">
				<h1 class="text-center about-title">{{title}}</h1>
				<div class="text-justify">{{body}}</div>
			</div>
		</div>
		<div class="row">
			{% for subpage in site.pages.about.pages %}
			{% assign remainder = forloop.index | modulo:2 %}
				<div class="small-12 medium-6 columns {% if remainder != 0 %}medium-push-2{% endif %}">
					<div class="about-section">
						<h2 class="about-section-title">{{subpage.title}}</h2>
						<div>{{subpage.body}}</div>
					</div>
				</div>
			{% endfor %} 
		</div>
	</div>
</div>
{% endcapture %}

{% include 'layouts/default' %}