{% capture content %}

<div class="work-page">
	<div class="row work-main-container">
		<div class="small-12 medium-12 small-centered columns">
			<h1 class="text-center">{{title}}</h1>
			<p>{{body}}</p>
		</div>
	</div>

	{% for page in site.pages.work.pages.[slug].pages %}
		<div class="row work-items-container">
			<div class="small-12 medium-4 medium-push-1 columns">
				<img src="{{page.assets.first.url}}" />
			</div>
			<div class="small-12 medium-7 columns work-content-container">
				<h2 class="work-title" style="{{page.meta['titleStyle'}}">{{page.title}}</h2>
				<div class="work-text">{{page.body}}</div>
			</div>
		</div>
	{% endfor %}
</div>

{% endcapture %}

{% include 'layouts/default' %}