<footer class="footer">
	<div class="row">
		<div class="small-8 small-centered text-center columns">
			<a class="footer-link" href="mailto:idaleung@gmail.com" target="_blank"><img src="/images/ic_email.png" alt=""></a>
			<a class="footer-link" href="https://www.linkedin.com/in/idaleung" target="_blank"><img src="/images/ic_linkin.png" alt=""></a>
			<a class="footer-link" href="" target="_blank"><img src="/images/ic_resume.png" alt=""></a>
		</div>
	</div>
	<div class="row">
		<div class="small-8 small-centered text-center columns">
			<p>Ida Leung | {{ site.time | date: '%Y' }} | idaleung@gmail.com</p>
		</div>
	</div>
</footer>	